body {
  font-size: 1.1rem;
}

.post-content h2 {
  font-size: 1.8rem;
}

.post-content h3 {
  font-size: 1.5rem;
}

.post-content h4 {
  font-size: 1.3rem;
}

p {
  margin-bottom: 16px !important;
}

.list {
  background: var(--theme);
}

.main {
  padding: 16px;
}

.post-entry {
  background: transparent !important;
  border: none !important;
}

.paginav,
.share-buttons {
  background-color: transparent !important;
  border: none !important;
}

.post-footer {
  margin-top: 70px;
}

:root {
  --theme: #faf9f6;
}
