body {
  font-size: 1rem;
}

p {
  margin-bottom: 16px !important;
}

.list {
  background: var(--theme);
}

.main {
  padding: 16px;
}

.post-entry {
  background: transparent !important;
  border: none !important;
}

.paginav,
.share-buttons {
  background-color: transparent !important;
  border: none !important;
}

.post-footer {
  margin-top: 70px;
}

:root {
  --theme: #fcfcfc;
}
